/* PARAMETRES DE BASE */

html, body{
	margin:0;
	padding:0;
 }

body{
	 background-image: url("../images/fond.jpg");
	 background-size : cover;
	 background-repeat : no-repeat;
	 background-color : gray;
}

div{
	color : white;
	font-family : Calibri;	
}

a{
	color : white;
	text-decoration:none;
}

a:visited {
    color: gray;
}

a:hover {
    color: #f7a80f;
}

h2{
	text-align : center;
	font-size : 50px;
}

h1{
	text-align : center;
	font-size : 25px;
}

p{
	text-align : center;
}

#error{
	text-align : center;
	background-color : #cc0000;
	width : 50%;
	margin : auto;
}


#contentUser{
	width : 80%;
	margin : auto;
	text-align : center;
	float : left;
	margin-left : 20px;
}

#content{
	width : 80%;
	margin : auto;
	text-align : center;
	height : 1000px;
}

/*PARAMETRES DU HEADER */

#header{
	background-color : #4D4D4D;
	opacity: 0.9;
	text-align : center;
	margin:0;
	padding:0;
}

#blocks{
	width : 80%;
	display : flex;
	/*display: -webkit-flex; pour safari*/
	justify-content : space-between;
	margin : auto;
	padding : 7px;
	height : 100px;
}

#block2{
	display : flex;
}

button {
	height:50%;
	padding: 5px 15px;
	margin: auto;
	display: inline-block;
	color: #ffffff;
	font-size: 20px;
	cursor: pointer;
	background: #f7a80f;
	background: linear-gradient(top, #f7a80f 0%, #de8f00 100%);
	border: 1px solid #f7a80f;
	border-radius: 5px;
	box-shadow:0px 0px 2px 1px rgba(255, 252, 252, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
}
button:hover {
	background: linear-gradient(top, #ffc229 0%, #f7a80f 100%);
	background: -webkit-linear-gradient(top, #ffc229 0%, #f7a80f 100%);
}
button:active{
	opacity:0.8;
}


#inscription{
	margin : auto;
	padding : 10px;
}

/*PARAMETRES HEADER 2*/

#block3{
	display : flex;
	align-content: center;
	background-color : #212121;
	width : 250px;
	border-radius: 7px;
	justify-content : space-between;
	padding : 7px;
}

#avatar{
	margin : auto;
}



#deconnexion{
	margin : auto;	
}

/*PARAMETRES DU FOOTER */

#footer{
	background-color : #212121;
	text-align : center;
	padding : 10px;
	opacity: 0.5;
	margin : auto;
	height : 30px;
	clear:both;
	float:bottom;
}

/*PARAMETRES PAGE ACCUEIL */

#classement{
	border : solid white;
	padding : 10px;
	height : 300px;
	width : 300px;
	
}

#partiesEnCours{
	border : solid white;
	padding : 10px;
	height : 300px;
	width : 300px;
}

#contenuAccueil{
	display : flex;
	justify-content : space-around;
	padding : 10px;
	margin : 30px;
}

/*PARAMETRES PROFIL*/

#info_perso{
	margin : auto;
	width : 50%;
	margin-bottom : 50px;
	
}

#stats{
	margin : auto;
	width : 50%;
	margin-bottom : 50px;
}

#cellule{
	background-color : #191B1A ;
	height : 40px;
	padding : 17px 0px 0px 0px;
	border : 0.5px solid #38393B;
}

#celluleTitre{
	background-color : #38393B;
}

#avatar{
	margin-bottom : 50px;
}

/*PARAMETRES MENU USER*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #212121;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #4D4D4D;
    color: white;
}

#menu{
	float : left;
	height : 1000px;
	background-color: #212121;
	overflow: auto;
	opacity: 0.5;
}

/*PARAMETRES REGLES*/

#exemple{
	text-align : center;
	font-style : italic;
	color : gray;
}

li{
	text-align : center;
}
